{:service-map {:env :dev
               :io.pedestal.http/router :map-tree ;;map-tree (default) / prefix-tree / linear-search
               :io.pedestal.http/type :jetty
               :io.pedestal.http/join? false
               :io.pedestal.http/port 3000}
 :database {:server-type :datomic-local
            :system "api.learnpedestal.com"
            :storage-dir :mem
            :db-name "development"}
 :auth {:client-id "<idp-client-id>"
        :client-secret "<id-client-secret>"
        :user-pool-id "<aws-cognito-user-pool-id>"}}