{:paths
 ["src/config"
  "src/main"
  "src/resources"]
 
 :deps
 {io.pedestal/pedestal.service {:mvn/version "0.7.2"}
  io.pedestal/pedestal.route {:mvn/version "0.7.2"}
  io.pedestal/pedestal.jetty {:mvn/version "0.7.2"}
  com.stuartsierra/component {:mvn/version "1.1.0"}}
 
 :aliases
 {:dev 
  {:extra-paths
   ["src/dev"]}
  
  :test
  {:extra-paths
   ["src/test"]}}}
